<div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%; background:#7CE1E8; text-align:center">
            Home Safety Evaluation
        </div>
        <div style="flex-grow: 1; background: #E4A74D;">
        </div>
    </div>
    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%; background: #1DA52B;">
            
        </div>
        <div style="flex-grow: 1; background: #EFF369;">
            Learning Center
        </div>
    </div>
    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%; background: #4F89BC;">
            Home Translation Program
        </div>
        <div style="flex-grow: 1; background:#7CE1E8;">
        </div>
    </div>
    <div class="container" style="display: flex; height: 100px;">
        <div style="width: 50%; background: #E4A74D;">
        </div>
        <div style="flex-grow: 1; background: #1DA52B;">
            Contact Us
        </div>
    </div>

